.nav {
  width: 100%;
  padding: 2.5rem 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  display: flex;
  gap: 2rem;
  margin-inline: auto;

  @media only screen and (max-width: $bp-large) {
    padding: 2.5rem 3.2rem;
  }

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &--header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);

    @media only screen and (max-width: $bp-small) {
      padding-top: 3rem;
    }
  }

  &__logo {
    font-size: $fs-32;
    line-height: 1.33;
    font-weight: 700;
    text-align: center;

    @media only screen and (max-width: $bp-small) {
      padding-top: 1.5rem;
      font-size: $fs-24;
    }
  }

  &__icon-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding-right: 3.5rem;

    @media only screen and (max-width: $bp-large) {
      width: 30%;
      padding-right: 0;
    }

    @media only screen and (max-width: $bp-medium) {
      padding-right: 0;
      width: 40%;
      justify-items: center;
      align-items: center;
      margin-left: 10rem;
      //   margin-left: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      gap: 3rem;
      width: 50%;
    }

    @media only screen and (max-width: $bp-smallest) {
      gap: 0.5rem;
      width: 20%;
      margin-left: 0;
    }
  }

  &__icon {
    width: 13%;
    height: 13%;
    cursor: pointer;

    & a img {
      margin-right: 0;
    }

    @media only screen and (max-width: $bp-large) {
      width: 25%;
      height: 25%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 50%;
      height: 50%;
    }
  }
}
