.btn-link {
  font-size: $fs-16;
  line-height: 26px;
  display: inline-block;
  border-bottom: 2px solid $clr-tertiary;
  color: $clr-primary;
  text-decoration: none;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: var(--fw-lg);
  letter-spacing: 2.3px;
  transition: all 0.2s ease;
  cursor: pointer;

  @media only screen and (max-width: $bp-large) {
    font-size: $fs-default;
  }

  &:hover {
    color: $clr-tertiary;
  }
}

.bold {
  font-weight: var(--fw-lg);
  font-size: $fs-88;
  line-height: 1;
  color: $clr-primary;

  @media only screen and (max-width: $bp-large) {
    font-size: 7.2rem;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 6rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 4rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 3rem;
  }
}

.container {
  max-width: 1110px;
  margin-inline: auto;

  // @media only screen and (max-width: $bp-medium) {
  //   margin: 0;
  //   padding: 0;
  // }
}

.dark {
  color: black;
}
